:root {
    --accent: #eeab19;
    --bg: #f4f8fc;
    --muted: #5a6a7a;
    --card: #ffffff;
    --text: #1a2a44;
    --shadow: 0 6px 18px rgba(26, 42, 68, 0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, sans-serif;
}

button {
    cursor: pointer;
}

body {
    width: 100%;
    height: auto;
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 2px solid var(--muted); */
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px var(--muted);
    background: var(--bg);
    z-index: 10;
}

header img {
    width: 15%;
    height: 50%;
    object-fit: cover;
    opacity: 0.8;
}

header .cart {
    width: auto;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
    font-weight: 700;
    font-size: 18px;
    color: var(--muted);
}

.cart div {
    font-size: 22px;
    background: var(--card);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 var(--card);

}

.cart div:hover {
    cursor: pointer;
    background: var(--accent);
    box-shadow: 0 0 10px 2px var(--accent);
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    background-color: var(--bg);
    z-index: 999;
    display: flex;
    flex-direction: column;
    transition: right 0.7s ease;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar-header {
    display: flex;
    height: auto;
    /* flex-direction: column; */
    margin-left: 25px;
    margin-top: 35px;
    width: 100%;
}

.sidebar-header button {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
    background: var(--accent);
    color: var(--card);
    border: none;
    font-size: .9rem;
}

.sidebar-header button:hover {
    cursor: pointer;
    color: var(--accent);
    background-color: var(--bg);
    box-shadow: var(--shadow);
}

.sidebar-header h2 {
    color: #5c5c5c;
    margin-left: 150px;
    display: flex;
    font-size: 1.7rem;
}

.sidebar-main {
    width: 100%;
    height: 75%;
    background: var(--bg);
    margin-top: 35px;
    padding-bottom: 80px;
    display: block;
    gap: 15px;
    overflow-y: auto;
}

.sidebar-main::-webkit-scrollbar {
    display: none;
}

.sidebar-item {
    width: 100%;
    height: 150px;
    background: var(--card);
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.sidebar-item img {
    width: 25%;
    height: 90%;
    object-fit: contain;
    border-radius: 15%;
    /* margin: auto 0; */
}

.sidebar-item-txt {
    margin-left: 20px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: .9rem;
    overflow-y: hidden;
}

.sidebar-item-txt p {
    height: 80px;
}

.sidebar-price-dlt {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 25%;
    gap: 25px;
    align-items: center;

}

.sidebar-price-dlt p {
    font-weight: 600;
    font-size: 1rem;
    color: var(--accent);

}

.sidebar-price-dlt button {
    width: 75%;
    background: var(--accent);
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: .8rem;
}

.sidebar-price-dlt button:hover {
    background: #cab811;
}

.sidebar-footer {
    width: 100%;
    height: 160px;
    /* margin-bottom: 10px; */
    background: var(--card);
    box-shadow: 6px 0px 7px 0 var(--muted);
    position: fixed;
    bottom: 0;
}

#subtotal {
    width: 100%;
    /* height: 40%; */
    margin-top: 25px;
    display: flex;
    gap: 30%;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 25px;
}

#subtotal h3 {
    font-size: 1.1rem;
}

#subtotal p {
    font-size: .9rem;
}

#tax {
    width: 100%;
    margin-top: 10px;
    display: flex;
    gap: 34%;
    padding: 0 25px;
}

#tax h3 {
    font-size: .9rem;
}

#tax p {
    font-size: .8rem;
}

#total {
    width: 100%;
    /* height: 40%; */
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 32%;
    align-items: center;
    padding: 0 25px;
}

#total h3 {
    font-size: 1.2rem;
}

#total p {
    font-size: 1rem;
}

.order-btn {
    width: 40%;
    height: 40px;
    border: none;
}

.order-btn button {
    width: 100%;
    height: 100%;
    background: var(--accent);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    /* padding: 0 auto; */
    font-size: 1.5rem;
    /* padding-left: 350px; */
    font-weight: 600;

}

.order-btn button:hover {
    background: #cab811;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
}

h1 hr {
    width: 40%;
    height: 3px;
    background-color: var(--accent);
}

.btns {
    margin-top: 25px;
    display: flex;
    gap: 30px;
}

.btns button {
    width: auto;
    background: transparent;
    border: none;
    font-size: 1.1rem;
}

.btns button:hover {
    color: var(--muted);
    transform: scale(1.1);
}

#foodItems {
    margin-top: 50px;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#foodItems>p {
    margin: auto auto;
    font-size: 2rem;
    color: var(--muted);
}

.foodItem {
    width: 40%;
    height: 400px;
    display: flex;
    height: 30%;
    gap: 25px;
    align-items: center;
    margin-bottom: 50px;
}

.foodItem:hover {
    transition: transform .5s ease-in-out;
    transform: scale(1.1);
}

.img {
    width: 40%;
    height: 100%;
    border: 2px solid var(--accent);
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.details {
    width: 60%;
    height: 100%;
}

.titlePrice {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--accent);
    padding-bottom: 3px;
}

.titlePrice p {
    color: #ff8800;
}

.description {
    margin-top: 5px;
}

.addToCart {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.addToCart button {
    background: var(--accent);
    color: var(--card);
    border: none;
    padding: 8px 12px;
    border-radius: 30px;
}

.addToCart button:hover {
    background: #cab811;
}

.searchFilter {
    width: 35%;
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.search {
    width: 70%;
    display: flex;
    gap: 5px;
    height: 30px;
}

.search input {
    width: 70%;
    padding: 3px 10px;
    background: transparent;
    border: 2px solid var(--muted);
}

.search input:focus {
    outline: none;

}

.search button {
    padding: 3px 5px;
    background: transparent;
    border: 2px solid var(--muted);
    color: var(--muted);
}

.search button:hover {
    color: var(--bg);
    background: var(--muted);
    border: 2px solid var(--muted);

}

.select {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    /* flex-wrap: wrap; */
    position: relative;
    cursor: pointer;
}

.select p {
    border: 2px solid var(--accent);
    padding: 5px 8px;
    border-radius: 8px;

}

.select-btns {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.select-btns button {
    border: 2px solid var(--accent);
    padding: 5px 8px;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    background: transparent;

}

.select-btns button:hover {
    transform: scale(1.05);

}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.2);
    z-index: 998;
    display: none;
}

footer {
  position: relative;
  bottom: 0;
  margin-top: 7%;
  background: var(--accent);
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px -5px 15px 2px var(--accent);
  color: var(--text);

}


.footer-container {
    /* background: #000; */
  width: 85%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 40px 0;
  flex-wrap: wrap;
  gap: 30px;
}

.logo-side {
    /* background: white; */
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.logo-side img{
    width: 60%;
    height: 50%;
    object-fit: cover;
}
.logo-side p{
    position: relative;
    bottom: 30px;
}
.links-side {
       display: flex;
    justify-content: center;
    /* background: white; */
    width: 30%;
    height: 70%;
}
 ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
    list-style-type: none;
    color: var(--text);
    font-size: 1.2rem;
}
 ul li a{
    text-decoration: none;
    color: var(--text);
    opacity: 0.8;
    
}
 ul li:hover{
    color: var(--text);
text-decoration: underline;
transform: scale(1.08);
transform: translateX(4px);
transition: transform 0.5s ;
    opacity: 1;
}

.support-side {
           display: flex;
    justify-content: center;
    /* background: white; */
    width: 30%;
    height: 70%;
}
.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 20px;
  width: 100%;
  font-size: 0.9rem;
  color: var(--text);
}

.footer-bottom span {
  color: black;
  font-weight: bold;
}

@media (max-width: 1024px) {
    header img {
        width: 20%;
    }

    .cart div {
        font-size: 20px;
    }

    .items {
        justify-self: center;
    }

    .cart-sidebar {
        width: 50%;
    }

    .sidebar-header h2 {
        margin-left: 100px;
        font-size: 1.5rem;
    }

    .sidebar-item {
        height: 130px;
    }

    .sidebar-item img {
        width: 28%;
    }

    .sidebar-item-txt {
        max-width: 40%;
        font-size: 0.85rem;
    }

    .sidebar-price-dlt {
        margin-left: 20px;
        width: 25%;
    }

    .sidebar-price-dlt p {
        font-size: 0.9rem;
    }

    .sidebar-price-dlt button {
        width: 80%;
        font-size: 0.75rem;
    }

    .order-btn {
        width: 50%;
    }

    #tax {
        gap: 36%;
    }

    #foodItems {
        width: 90%;
        justify-content: center;
        gap: 40px;
    }

    .foodItem {
        width: 45%;
        height: auto;
    }
      .footer-container {
    justify-content: center;
    gap: 40px;
  }
}



@media (max-width: 768px) {
    header img {
        width: 28%;
    }

    .cart p {
        font-size: 1rem;
    }

    .cart div {
        font-size: 18px;
    }

    .cart-sidebar {
        width: 50%;
    }

    .items {
        width: 300px;
    }

    .sidebar-header {
        margin-left: 20px;
        margin-top: 20px;
        gap: 40px;
    }

    .sidebar-header button {
        width: 100px;
        padding: 8px;
        font-size: 0.8rem;
    }

    .sidebar-header h2 {
        margin: 15px 0 0 0;
        font-size: 1.4rem;
    }

    .sidebar-item {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 15px;
    }

    .sidebar-item img {
        width: 80%;
        height: auto;
        margin: 0 auto;
        border-radius: 10px;
    }

    .sidebar-item-txt {
        max-width: 100%;
        margin: 10px 0;
        font-size: 0.9rem;
    }

    .sidebar-item-txt p {
        height: auto;
    }

    .sidebar-price-dlt {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: 0;
        gap: 10px;
    }

    .sidebar-price-dlt p {
        font-size: 1rem;
    }

    .sidebar-price-dlt button {
        width: auto;
        padding: 8px 12px;
        font-size: 0.85rem;
    }

    #subtotal {
        gap: 25%;
    }

    #tax {
        gap: 32%;
    }

    #total {
        gap: 27%;
    }

    #foodItems {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .foodItem {
        width: 80%;
        margin: 0 auto;
        height: auto;
    }

    .searchFilter {
        width: 55%;

    }

    .select p,
    button {
        font-size: .8rem;
    }

  footer {
    min-height: auto;

  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-side,
  .links-side,
  .support-side {
    width: 90%;
    align-items: center;
  }

  .logo-side img {
    width: 70%;
  }

  ul h4 {
    font-size: 1.1rem;
  }

  ul li {
    font-size: 1rem;
  }

  .footer-bottom {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
    header img {
        width: 33%;
    }

    .cart p {
        font-size: .8rem;
    }

    .cart div {
        font-size: 16px;
    }

    .cart-sidebar {
        width: 70%;
    }

    .sidebar-header {
        margin-left: 15px;
        margin-top: 15px;
    }

    .sidebar-header button {
        width: 90px;
        padding: 7px;
        font-size: 0.7rem;
    }

    .sidebar-header h2 {
        margin: 10px 0 0 0;
        font-size: 1.2rem;
    }

    .sidebar-item {
        padding: 10px;
    }

    .sidebar-item img {
        width: 100%;
    }

    .sidebar-item-txt h3 {
        font-size: 1rem;
    }

    .sidebar-item-txt p {
        font-size: 0.85rem;
    }

    .sidebar-price-dlt p {
        font-size: 0.9rem;
    }

    .sidebar-price-dlt button {
        font-size: 0.75rem;
        padding: 7px 10px;
    }

    .order-btn {
        width: 70%;
    }

    #tax {
        gap: 45%;
    }

    .searchFilter {
        width: 80%;

    }
  footer {
    margin-top: 15%;
  }

  .logo-side p {
    font-size: 0.85rem;
  }

  ul h4 {
    font-size: 1rem;
  }

  ul li a {
    font-size: 0.9rem;
  }
}